node_modules
.pnpm-store
dist
coverage
.turbo
.DS_Store
apps/api/data
apps/api/.env
apps/web/.env
*.log

# Deployment & Build directories
apps/api/.deploy
apps/web/.deploy
apps/web/.deploy2
apps/desktop/dist
apps/web/.next
apps/web/out
